/* Component specific styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 910px;
}

header {
  display: flex;
  flex-direction: column;
}

#container * {
  font-family: Arial, Helvetica, sans-serif;
}

.sales-info-table {
  margin-top: 20px;
  border-collapse: collapse;
}

.sales-info-table tr {
  border-bottom: 1px dashed black;
}

.sales-info-table tr td,
.sales-info-table tr th {
  font-weight: normal;
  font-size: 11pt;
  padding: 5px;
}

.sales-info-table tr th {
  text-align: right;
}

.sales-info-table tr td {
  text-align: left;
  font-weight: bold;
}

.sales-info-table tr td:not(:first-of-type) {
  padding-left: 10px;
  min-width: 200px;
}

.performance-billing-container {
  width: 100%;
  gap: 5%;
  display: flex;
  margin-top: 30px;
}

.__table-title {
  background-color: rgb(215, 215, 215);
  border: 1px solid black;
}

.__table-title h2 {
  text-align: center;
  font-size: 12pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

.__company-logo {
  width: 120px;
}

.performance-billing-container table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

.performance-billing-container tbody td,
.performance-billing-container tbody th {
  padding: 5px 10px;
}

.performance-billing-container tfoot {
  border-top: 1px solid black;
  border-bottom: 3px solid black;
}

.performance-billing-container tfoot th {
  padding: 5px 10px;
  font-weight: bold;
}

.performance-billing-container tfoot td {
  padding: 5px 10px;
  font-weight: bold;
  text-align: right;
}

.performance-billing-container .total-section {
  border-top: 1px solid black;
  border-bottom: 3px solid black;
}

.performance-billing-container .total-section th,
.performance-billing-container .total-section td {
  font-weight: bold;
  text-align: right;
}

.miscellaneous-value {
  color: red
}

table thead td.is-number-emphasize {
  font-weight: bold;
  text-align: center;
}

table tbody td.is-number-emphasize {
  font-weight: bold;
  text-align: right;
}

table tbody td.is-number {
  text-align: right;
}

table tbody td.number {
  text-align: center;
}

.__table-overview-performance td,
.__table-overview-performance th {
  font-weight: normal;
  text-align: right;
}

.__table-overview-performance .separate-section tr {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted black;
}

thead tr td,
thead tr th {
  font-size: 9pt;
  text-align: center;
  padding: 5px 10px;
}

thead tr td {
  font-size: 8pt;
  text-align: center;
  padding: 5px 10px;
}

tbody tr th,
tbody tr td {
  font-size: 10.5pt;
  white-space: nowrap
}

tfoot {
  border-bottom: 2px solid black;
}

tfoot tr th,
tfoot tr td {
  font-size: 10.5pt;
  padding-top: 20px;
  font-weight: bold;
}


footer {
  font-size: 10px;
  margin-top: 50px;
  text-align: center;
}

/* Reusable styles */

.border-primary {
  border: 1px solid black;
}

.p-md {
  padding: 20px;
}

.p-lg {
  padding: 60px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-md {
  font-size: 11pt;
}

.font-lg {
  font-size: 12pt;
}

.spacing-lg {
  letter-spacing: 5px;
}

.w-200 {
  width: 200px;
}

.w-sm {
  width: 50%;
}

.w-md {
  width: 75%;
}

.w-full {
  width: 100%;
}

.self-right {
  justify-self: right;
}

.ml-auto {
  margin-left: auto;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.mt-20 {
  margin-top: 20px;
}

.logo {
  width: 100px;
}

.color-primary {
  color: black;
}

.color-background {
  color: white;
}

.weight-semi-bold {
  font-weight: 500;
}

.bg-color-primary {
  background-color: white;
}

.bg-color-black {
  background-color: black;
}

.filled-chevron-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  /* Color for the fill */
  display: inline-block;
}